# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Temp files
.tmp_*
data/.tmp_*

# Environment variables
.env.local

# Logs
*.log
